
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --dark-magenta:hsl(300, 43%, 22%);
    --pink:hsl(333, 80%, 67%);
    --grayish-magenta:hsl(303, 10%, 53%);
    --light-grayish-magenta:hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}
html{
    border:2px dotted red;
    /* min-height:100vh; */
    height:100%;
  
  
}
body{
    /* min-height:100vh; */
    min-height:100%;
   /* margin:100px 130px; */
   font-family:"League Spartan", sans-serif;
   background-image:url(images/bg-pattern-top-desktop.svg),url(images/bg-pattern-bottom-desktop.svg);
   background-repeat:no-repeat,no-repeat;
   background-position:left -120px top -80px,right 40px;
  
}
.container{

   max-width:700px;
   /* max-height:100vh; */
    margin:5% auto;
}

.top-section{
    display:grid;
    grid-template-columns:auto auto;
    gap:15px;
    margin-bottom:50px;
}
.main-header{
    color:var(--dark-magenta);
    font-weight:700;
    max-width:200px;
    font-size:1.8rem; /*30px*/
   
}
.sub-header{
    color:var(--grayish-magenta);
    font-weight:500;
    max-width:300px;
    font-size:.75rem; /*12px*/
    margin-top:20px;
}
.review-section{
    align-self:end;
    min-width:300px;
}
.review{
    max-width:280px;
    background-color:var(--light-grayish-magenta);
    border-radius:5px;
    padding:10px 14px;
    margin-bottom:10px;
}
.review-two{
    margin-left:40px;
}
.review-three{
    margin-left:80px;
}
.icon-star{
    width:10px;
    height:10px;
    object-fit:cover;
    vertical-align:middle;

}
.ratings{
  color:var(--dark-magenta);
  font-weight:700;
  font-size:.75rem; /*12px*/
  margin-left:5px;
  vertical-align:middle;


}

.profile-container{
   display:grid;
   grid-template-columns: repeat(3, 1fr);
   gap:4px
}
.inner-grid{
    display:grid;
    grid-template-columns:40px auto;
    gap:4px;
}
.profile{
    width:35px;
    height:35px;
    object-fit:cover;
    border-radius:18px;
    align-self:center;
  
}
.profile-main{
    align-self:center;
}
.profile-one,.profile-two,.profile-three{
background-color:var(--dark-magenta);
border-radius:6px;
padding:30px 15px;
}
.profile-one{
   grid-row:1/4;
   grid-column:1/2;
  
}

.profile-two {
  grid-row:2/5;
 
 

}
.profile-three{
  
    grid-row:3/6;
  
   
  
}
.profile-name{
    color:var(--white);
    font-weight:500;
    margin-bottom:2px;
    font-size:.75rem; /*12px*/
}
.profile-verified{
    color:var(--pink);
    font-size:.75rem; /*12px*/
}
.profile-desc{
    color:var(--white);
    font-size:.75rem; /*12px*/
}

.attribution {
    font-size:.75rem; /*12px*/
    text-align:center;
    background-color: var(--white);
    width:100%;
    height:20px;
    position:fixed;
    bottom:0;
    /* left: 0; */
    right:0;
    
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  /* Media queries */
  @media only screen and (max-width: 800px) {
    body{
        background-image:url(images/bg-pattern-top-mobile.svg);
        background-repeat:no-repeat;
        background-position:left 50px top 0;
        /* background-size: cover; */
    }
    .container{

        max-width:300px;
       
     }
    .top-section{
        display:grid;
        grid-template-columns:auto;
        gap:15px;
    }
    .main-header{
        text-align:center;
        max-width:280px;
    }
    .review-two,.review-three{
        margin-left:0px;
    }
    .profile-container{
        grid-template-columns:1fr;
        gap:4px;

    }
    .profile-one{
        grid-column:1/2;
        grid-row:1/2;
    }
    .profile-two{
        grid-column:1/2;
        grid-row:2/3;
    }
    .profile-three{
        grid-column:1/2;
        grid-row:3/4;
    }
  
  }